language: python
python:
  - "2.6"
  - "2.7"
#  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5"
  - "3.6"
  - "nightly" # currently points to 3.6-dev

# command to install dependencies
# install: "pip install -r requirements.txt"
# we have no third-party dependencies

script:
  python djaq/tests.py
